{% load static %}
<!doctype html>
  <head>
    <meta charset="utf-8" />
    <title>Daily Expense Tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ExpenseTracker/styles.css' %}">
  </head>

<body>
    <header>
        <h1>What can you do?</h1>
    </header>

    <main>
        <p>Welcome to "ExpenseTracker," your reliable and user-friendly expense tracking web application. 
            With ExpenseTracker, managing your daily expenses has never been easier. 
            This application is designed to help you take control of your finances and budget more effectively.</p>
    </main>

    <footer>
        <p>Created by: Julia Vister</p>
    </footer>
</body>
</html>